Django>=5.0,<6.2
dj-database-url>=2.1,<4.0
python-dotenv>=1.0,<2.0
requests>=2.31,<3.0
pyotp>=2.9,<3.0
qrcode[pil]>=7.4,<9.0
python-dateutil>=2.9,<3.0
argon2-cffi>=23.1,<26.0
whitenoise>=6.6,<7.0
gunicorn>=22.0,<27.0
psycopg2-binary>=2.9,<3.0

celery>=5.4,<6.0
redis>=5.0,<7.0
